<!-- main app container -->
<div class="card m-3">
    <h3 class="card-header text-center">Angular 14 - Paging and Sorting Table Data Example</h3>
    <div class="card-body">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th><a (click)="sortBy('id')">Id {{sortIcon('id')}}</a></th>
                    <th><a (click)="sortBy('firstName')">First Name {{sortIcon('firstName')}}</a></th>
                    <th><a (click)="sortBy('lastName')">Last Name {{sortIcon('lastName')}}</a></th>
                    <th><a (click)="sortBy('age')">Age {{sortIcon('age')}}</a></th>
                    <th><a (click)="sortBy('company')">Company {{sortIcon('company')}}</a></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pageOfItems">
                    <td>{{item.id}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.company}}</td>
                </tr>
                <tr *ngIf="loading">
                    <td colspan="5" class="text-center py-5">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pb-0 pt-3">
        <pagination [items]="items" (changePage)="onChangePage($event)"></pagination>
    </div>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
        <a href="#" target="_top">Angular 14 - Paging and Sorting Table Data Example</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>